
.sectionbutton{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 15px;
}

.divbtn-action{
    display: flex;
    justify-content: center;
}

.btn-secondary{
    background-color: var(--text-color-gris);
    box-shadow: 0px 0px 5px var(--text-color-gris);
}

.btn-secondary:hover{
    background-color: #555555;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #555555;
}

.btn-action {
    background: var(--secondary-color);
    border: none;
    color: var(--light-color);
    padding: 12px;
    border-radius: 10px 0 10px 0;
    font-weight: 600;
    width: 200px;
    margin-top: 10px;
    transition: all 0.3s;
    text-decoration: none;
    box-shadow: 0px 0px 5px var(--border-color);
}

.btn-action:hover {
    background: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #2980b9;
}

.btn-danger:hover {
    background: #b92929;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #b92929;
}

.btn-danger {
    background: var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}

.btn-historial{
    background: var(--historial-color);
    box-shadow: 0px 0px 5px var(--historial-color);
}

.btn-historial:hover {
    background: #0dd8b6;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #0dd8b6;
}

.btn-success{
    background-color: var(--success-color);
    box-shadow: 0px 0px 5px var(--success-color);
}

.btn-success:hover{
    background-color: #218a4d;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #218a4d;
}

.btn-warning{
    background-color: var(--warning-color);
    box-shadow: 0px 0px 5px var(--warning-color);
}

.btn-warning:hover{
    background-color: #d48a12;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #cc8411;
}

.btn-primary{
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--secondary-color);
}

.btn-primary:hover{
    background-color: #002049;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #002049;
}



.sectionbutton a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}

@media (max-width: 576px) {
    .sectionbutton{
        justify-content: center;
    }
}