.btn-action {
    margin: 0 3px;
}

.btn-new {
    background: var(--success-color);         
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.btn-new:hover {
    background: #219653;
    transform: translateY(-2px);
    color: white;
    box-shadow: 0 5px 10px var(--success-color);
}

.btn-new i {
    margin-right: 5px;
    color: aliceblue;
}
