
.sectionbutton{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 15px;
}

.divbtn-action{
    display: flex;
    justify-content: center;
}

.btn-action {
    background: var(--secondary-color);
    border: none;
    color: var(--light-color);
    padding: 12px;
    border-radius: 10px 0 10px 0;
    font-weight: 600;
    width: 200px;
    margin-top: 10px;
    transition: all 0.3s;
    text-decoration: none;
    box-shadow: 0px 0px 5px var(--border-color);
}

.btn-action:hover {
    background: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #2980b9;
}

.btn-danger:hover {
    background: #b92929;
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px #b92929;
}

.btn-danger {
    background: var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}

.sectionbutton a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}

@media (max-width: 576px) {
    .sectionbutton{
        justify-content: center;
    }
}