:root {
    --primary-color: #002b64;
    --secondary-color: rgb(4, 88, 156);
    --accent-color: #e74c3c;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --historial-color: #12f3ce;
    --light-color: #ecf0f1;
    --text-color-gris: gray;
    --text-color: #0000;
    --border-color: #00519c;
}

body {
    background: 
        radial-gradient(circle at 20% 80%, rgba(154, 154, 240, 0.4) 0%, transparent 65%),
        radial-gradient(circle at 80% 20%, rgba(56, 72, 95, 0.4) 0%, transparent 65%),
        linear-gradient(135deg, #89bcff 0%, #508bff 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    animation: waveMove 8s ease-in-out infinite;
    background-size: 300% 300%, 300% 300%, 100% 100%;
}

@keyframes waveMove {
    0%, 100% {
        background-position: 
            0% 50%,
            100% 50%,
            0% 0%;
    }
    25% {
        background-position: 
            100% 25%,
            0% 75%,
            0% 0%;
    }
    50% {
        background-position: 
            100% 100%,
            0% 0%,
            0% 0%;
    }
    75% {
        background-position: 
            0% 75%,
            100% 25%,
            0% 0%;
    }
}

.main-content {
    margin-left: 100px;
    padding: 20px;
    transition: margin-left 0.4s ease;
    width: calc(100% - 302px);
    min-height: calc(100vh - 40px);
}

.header {
    background: var(--primary-color);
    padding: 15px 20px;
    border-radius: 10px 2px 10px 2px;
    box-shadow: 0 10px 30px var(--border-color);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-color);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-title {
    color: var(--text-color);
    margin-bottom: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}