        .config-section {
            margin-bottom: 2rem;
            padding: 1.5rem;
            background: #fff;
            border-radius: 10px 0 10px 0;
            box-shadow: 0 4px 6px var(--border-color);
        }

        .password-feedback, .user-feedback {
            display: none;
            margin-top: 10px;
            padding: 10px;
            
        }

        .form-group {
            margin-bottom: 1.2rem;
        }

        .required-field::after {
            content: " *";
            color: red;
        }

        .form-control {
            border-radius: 10px 0 10px 0;
        }

        /* Estilos para el campo de contraseña con botón de mostrar/ocultar */
        .form-group {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            right: 15px;
            top: 70%;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: #6c757d;
            cursor: pointer;
            padding: 0;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .toggle-password:hover {
            color: var(--secondary-color);
        }
        